<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Pessoas</h1>
        </div>
        <div class="ui-g-12" style="display: grid;">
            <label >Nome</label>
            <input pInputText type="text" name="" id="">
        </div>
        <div class="button">
            <button pButton value="Pesquisar">Pesquisar</button>
        </div>
        <div class="grid">
            <p-table [value]="pessoas" [paginator]="true" [rows]="4" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th style="width: 120px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pess>
                    <tr>
                        <td>{{pess.nome}}</td>
                        <td>{{pess.city}}</td>
                        <td>{{pess.state}}</td>
                        <td [matTooltip]="pess.status === 'ativo' ? 'Desativar' : 'Ativar'"><a class="mouse-hover" style="color: rgb(33, 32, 32); "  href="#" >{{pess.status}}</a></td>
                        <td class="col-acoes">
                            <button pButton class="custom-button" pTooltip="Editar" tooltipPosition="top">
                                <a class="pi pi-pencil" ></a>
                              </button>
                              <button pButton class="custom-button" pTooltip="Deletar" tooltipPosition="top">
                                <a class="pi pi-trash"></a>
                              </button>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
    </div>
</div>
