.col-acoes {
    width: 120px;
    text-align: center;
    display: flex;
    
}
.custom-button{
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
   padding: auto;
    flex-shrink: 1;
    justify-content: center;
}