<div class="container">
  
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
      <div class="ui-g-12" style="display: grid; font-weight: bold;">
        <label >Descrição</label>
        <input type="text" pInputText  />  
      </div>
        <div class="vencimento">
          <label style="display: block; margin: 0;">Vencimento</label>
          <input type="text" pInputText style="width: 95px;" />  
          <label>Até</label>
          <input type="text" pInputText  style="width: 95px;"/>  
        </div>
    </div>

    <div class="button">
      <button pButton pRipple label="Pesquisar" class="p-button-success"></button>
    </div>

    <app-table-lancamentos [lancamentos]="lancamentos"></app-table-lancamentos>
    <div class="button">
      <a pButton pRipple label="Novo Lançamento" class="p-button-success" routerLink="./lancamento-cadastro.component.html"></a>
    </div>
</div>