<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <h1>Pessoas</h1>
        </div>
        <div class="ui-g-12" style="display: grid;">
            <label >Nome</label>
            <input pInputText type="text" name="" id="">
        </div>
        <div class="button">
            <button pButton value="Pesquisar">Pesquisar</button>
        </div>
        <div class="grid">
            <p-table [value]="pessoas" [paginator]="true" [rows]="4" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th style="width: 120px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pess>
                    <tr>
                        <td>{{pess.label}}</td>
                        <td>{{pess.value}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
    </div>
</div>
