<div class="container">
    <div class="ui-g">
        
        <form>
            <div class="ui-g-12">
                <h1>Nova Pessoa</h1>
            </div>
            <div class="grid-container">
                
                <div class="child-grid">
                    <label for="nome">Nome</label>
                    <input pInputText placeholder="Nome" type="text">
                    <input pInputText placeholder="Sobrenome" type="text">
                </div>
                
                <div class="child-grid">
                    <label for="nome">Endereço</label>
                    <input pInputText placeholder="Cidade" type="text">
                    <input pInputText placeholder="Estado" type="text">
                    <input pInputText placeholder="Pais" type="text">
                </div>
            </div>
        </form>
    </div>
</div>