<div class="container">

    <form>
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Novo Lançamento</h1>
            </div>
            <div class="ui-g-12">
                <p-selectButton [options]="tipo" [(ngModel)]="value" name="selecao-botao" optionLabel= "label" optionValue = "value" #tipoOptions></p-selectButton>
            </div>
            <div class="grid-container">
                <div class="child-grid">
                  <label for="vencimento">Vencimento</label>
                  <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false" [ngModelOptions]="{ standalone: true }"></p-calendar>
                </div>
                <div class="child-grid">
                  <label >{{ tipoOptions.value === 'Receita' ? 'Recebimento' : 'Pagamento'}}</label>
                  <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" [ngModelOptions]="{ standalone: true }"></p-calendar>
                </div>
              </div>
              <div class="container-2">
                        <div class="child-grid">
                            <label >Descrição</label>
                            <input  pInputText type="text" name="descricao" ngModel #descricao="ngModel" [minlength]="5" required>
                            <!--<div class="alert" role="alert" style="color: red" *ngIf="descricao.hasError('required') && descricao.touched" >Preencha o campo</div>-->
                           <app-message [control]="descricao.control" error="required" text="Preencha o Campo"></app-message>
                            <app-message [control]="descricao.control" error="minlength" text="O campo tem que ter no mínimo 5 caracteres"></app-message>
                        </div>
                        <div class="child-grid input-container" >
                            <label >Valor</label>
                            <p-inputNumber mode="currency" name="valor" #valor="ngModel" ngModel currency="BRL" inputId="currency-pt" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber>
                            <app-message [control]="valor.control" error="required" text="Preencha o valor"></app-message>
                        </div>
              </div>
              <div class="container-3">
                        <div class="child-grid">
                            <label >Categoria</label>
                            <p-dropdown [options]="categorias" placeholder="Selecione" [required]="true"></p-dropdown>
                        </div>
                        <div class="child-grid" >
                            <label >Pessoa</label>
                            <p-dropdown [options]="pessoas" placeholder="Selecione" [editable]="true" [filter]="true"></p-dropdown>
                        </div>
                </div>
            <div class="child-grid">
                <label >Observação</label>
                <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
            <div class="button">
                <button pButton type="submit" label="Salvar" style="margin-right: 5px;"></button>
                <button pButton pRipple type="submit" label="Novo" ></button>
                <p-button label="Voltar para pesquisa" styleClass="p-button-link"></p-button>
            </div>
        </div>
    </form>
</div>