.child-grid {
    margin-top: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
}
.child-grid {
    display: grid;
}
.container-2 {
    display: grid;
    grid-template-columns: 1fr 220px ;
    grid-gap: 10px;
}
.container-3 {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 10px;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched, select.ng-valid.ng-touched {
  border: 1px solid green;
}
.input-container {
  height: 50px;
}
/* Styles specific to small screens */
@media screen and (max-width: 550px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
    .container-3 {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .container-2 {
      display: grid;
      grid-template-columns: 1fr  ;
      grid-gap: 0;
    }
    .input-container {
      height: 60px;
    }
  }
  
  /* Styles specific to medium screens */
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    /* Additional styles for medium screens */
  }
  
  /* Styles specific to large screens */
  @media screen and (min-width: 1201px) {
    /* Additional styles for large screens */
  }